<div class="container">
    <div class="row mt-5">
        <div class="col-sm-4 offset-4">
            <div class="card">
                <div class="card-header">
                    <div class="text-center">
                        <h1>Enter Details</h1>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="com-sm-4 offset-2">
                            <form [formGroup]="userDetails">
                                <div class="row">
                                    <div class="col-8">
                                        <label>Name</label>
                                        <input type="text" class="form-control" formControlName="name">
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-8">
                                        <label>Email</label>
                                        <input type="text" class="form-control" formControlName="email">
                                    </div>

                                </div>
                                <div class="text-center mt-3">
                                    <button type="submit" class="px-2 py-1 btn btn-success pull-left">Submit</button>

                                </div>

                            </form>
                        </div>
                    </div>


                </div>
                <div class="card-footer">
                    <div class="text-center">
                        <span>@Hiware Propritership-4.0</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>